<div class="jumbotron">
  <h1 class="display-4">Ola, Seja bem vindo ao Api Saúde Familiar!</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan consequat rutrum. Cras nec luctus ex. Nullam a lectus nec felis malesuada lacinia.</p>
  <hr class="my-4">
  <p>Cras purus elit, mattis vitae elit id, egestas rhoncus orci.</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Faço seu cadastro</a>
</div>